table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    align-self: center;
}

table, th, td {
    border: 1px solid black;
}

.box{
	position: relative;
	width: 100%;		/* desired width */
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.ant {
    background: url('./ant.png') no-repeat;
	background-size:contain;
	background-position: center;
}